<!DOCTYPE html>
<head>
<title>User Blogs</title>
<link href="https://fonts.googleapis.com/css?family=Baloo+Bhai|Candal|Chewy&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<style>
    .container {
    height: auto;
    width: 800px;
    position: relative;
    top: 5%;
    left: 15%;
    border: 1px solid rgb(1, 10, 14);
    padding: 50px;
    margin: 20px;
    background-color: white;
}
body{ 
    /* background-image: url('https://www.designyourway.net/blog/wp-content/uploads/2019/02/aesthetic-wallpaper-34-1600x900.jpg'); */
    /* background-image: url('https://www.designyourway.net/blog/wp-content/uploads/2019/02/aesthetic-wallpaper-36-1440x900.jpg'); */
    background-image: url('https://www.designyourway.net/blog/wp-content/uploads/2019/02/aesthetic-wallpaper-40-1600x900.jpg');
    background-attachment: fixed;
 }

 .show-read-more .more-text{
        display: none;
    }

  .btn {
  float: right;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  color: black;
  font-size: 16px;
  padding: 10px 30px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.btn:hover {
  background-color: black;
  color: white;
}
hr.new1 {
  border-top: 1px solid rgb(46, 42, 43);
}
</style>

</head>
<body>
<div class="todo-container">
<div class="">
<ul class="todo-list">
    <div class="container">
        <a href="/blog/delete/<%=userID%>/<%=blogID%>"><button class="btn">Delete</button></a>
        <a href="/blog/update/<%=userID%>/<%=blogID%>"><button class="btn">Update</button></a>
        <h1 style="text-align: left;font-size: 30px;font-family: Georgia, serif;"><%=title%></h1>
        <hr class="new1">
        <p style="font-family: Georgia, sans-serif; font-size: 18px;word-spacing: 5px;line-height: 26pt;" class="show-read-more"><%=content%></p><br>
        <br>
        <hr class="new1">
        <h3>Comments
        <a href="/like/<%=userID%>/<%=blogID%>"><button class="btn" style="height: 40px;font-size: 15px;text-align: center;padding-left: 10px;padding-right: 10px;border-radius: 6px;float: right;float: right; display: inline-flex; margin-top: 15px;">Like: <%=comment.likes.length%></button></a>  
        </h3>
        <% for(var i=0; i<comment.comments.length; i++){ %>
        <i class='fas fa-user-alt' ><p style="display:inline-flex; margin-left:10px ;"><%=comment.comments[i].text%></p></i>
        
        <br>
        <%}%>
    </div>
    <br>
</ul>
</div>
</div>
</body>